.benefits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $red-secondary;
    height: 8vh;
    min-width: 1000px;
    max-width: 1200px;

    margin: -128px 0;
    border-radius: 250px;

    position: relative;

    color: $white;

}

.benefits label {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.benefits label img {
    padding: 0 16px;
    height: 4vh;
}