// Primary colors

$red: #A92727;
$red-light: #b83b4d;
$red-dark: #962023;

//Secondary Colors

$red-secondary: #BC3C41;
$red-secondary: #C65172;
$red-secondary: #A33244;

// Auxiliary Colors

$green: #1FCD45;
$green-light: #37DA44;
$green-dark: #18B638;

$red-aux: #CC2727;
$red-aux-light: #D93E53;
$red-aux-dark: #B51F23;

//white colors

$white: #DEE7E7;
$white-light: #E2EBE9;
$white-dark: #C2CACA;

//dark colors

$black: #282832;
$black-light: #44464E;
$black-dark: #23232C;

//gradient colors

$red-gradient1: #A92727;
$red-gradient2: #B83B4D;

$white-gradient1:#C2CACA;
$white-gradient2: #E2EBE9;

$black-gradient1: #23232C;
$black-gradient2: #44464E;


