// desktop

//fira sans & open sans

//h1

$dh1-font-size: 48px;
$dh1-font-weight: 700;
$dh1-font-height: 130%;

//h2

$dh2-font-size: 40px;
$dh2-font-weight: 600;
$dh2-font-height: 120%;

//h3

$dh3-font-size: 32px;
$dh3-font-weight: 500;
$dh3-font-height: 110%;

// mobile

//fira sans & open sans

//h1

$mh1-font-size: 24px;
$mh1-font-weight: 600;
$mh1-font-height: 115%;

//h2

$mh2-font-size: 20px;
$mh2-font-weight: 500;
$mh2-font-height: 110%;

//h3

$mh3-font-size: 16px;
$mh3-font-weight: 400;
$mh3-font-height: 105%;