@import "scss/colors";
@import "scss/typography";
@import "scss/carrousel";
@import "scss/benefits";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, $white-dark, $white-light);
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: right bottom;

    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// header section

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: linear-gradient(to right, $red, $red-light);

    width: 100%;
    height: 16vh;
    border-radius: 00px 000px 250px 250px;

    padding: 25px 150px;
    overflow: hidden;

    position: sticky
}



// Main section





@import "scss/layout";